Repository ska-telescope/ska-sdp-func, changes with the owners that CODEOWNERS names for each.
All owners: @KarelAdamek, @vlad7235, @fdulwich, @DoctaGnz

HIP-469: GPU Briggs Weighting
  src/ska-sdp-func/visibility/CMakeLists.txt
  src/ska-sdp-func/visibility/sdp_weighting.cpp
  src/ska-sdp-func/visibility/sdp_weighting.cu
  tests/visibility/test_weighting.py
Owners: @KarelAdamek, @vlad7235, @fdulwich

HIP-469:Cupy_import_fix
  tests/visibility/test_weighting.py
Owners: @KarelAdamek, @vlad7235, @fdulwich

HIP-469:Linting_fix
  tests/visibility/test_weighting.py
Owners: @KarelAdamek, @vlad7235, @fdulwich

Add missing include.
  src/ska-sdp-func/examples/sdp_function_example_a.cpp
Owners: @KarelAdamek, @vlad7235, @fdulwich

Add missing include.
  src/ska-sdp-func/examples/sdp_function_example_a.cpp
  src/ska-sdp-func/grid_data/sdp_gridder_uvw_es_fft.cpp
Owners: @KarelAdamek, @vlad7235, @fdulwich, @DoctaGnz

Fix include to work with older compilers.
  src/ska-sdp-func/grid_data/sdp_gridder_uvw_es_fft_utils.cpp
Owners: @DoctaGnz

Remove redundant call to log2 function.
  tests/rfi/test_rfi_flagger.cpp
Owners: @KarelAdamek, @vlad7235, @fdulwich

HIP-486: Added GPU version of convolution and tests
  src/ska-sdp-func/numeric_functions/CMakeLists.txt
  src/ska-sdp-func/numeric_functions/sdp_fft_convolution.cpp
  src/ska-sdp-func/numeric_functions/sdp_fft_convolution.cu
  tests/numeric_functions/test_fft_convolution.cpp
  tests/numeric_functions/test_fft_convolution.py
Owners: @KarelAdamek, @vlad7235, @fdulwich

HIP-570 Resolving merge request issues
  src/ska-sdp-func/visibility/sdp_weighting.cpp
  src/ska-sdp-func/visibility/sdp_weighting.cu
  src/ska-sdp-func/visibility/sdp_weighting.h
  src/ska_sdp_func/visibility/weighting.py
  tests/visibility/test_weighting.py
Owners: @KarelAdamek, @vlad7235, @fdulwich

HIP-486: Added GPU version of Hogbom CLEAN
  src/ska-sdp-func/clean/CMakeLists.txt
  src/ska-sdp-func/clean/sdp_hogbom_clean.cpp
  src/ska-sdp-func/clean/sdp_hogbom_clean.cu
  tests/clean/test_hogbom_clean.py
Owners: @KarelAdamek, @vlad7235, @fdulwich

HIP-486: Add C test for GPU Hogbom
  tests/clean/test_hogbom_clean.cpp
Owners: @KarelAdamek, @vlad7235, @fdulwich

HIP-595, testing the quantile-based flagging
  src/minitest.py
  src/ms_operations.py
  src/ska-sdp-func/twosm_rfi_flagger/sdp_twosm_rfi_flagger.cpp
Owners: @KarelAdamek, @vlad7235, @fdulwich

HIP-486: Added templating for double and float
  src/ska-sdp-func/clean/sdp_hogbom_clean.cpp
  src/ska-sdp-func/clean/sdp_hogbom_clean.cu
Owners: @KarelAdamek, @vlad7235, @fdulwich

HIP-593: Add prototype CPU and GPU functions to evaluate an array factor.
  src/ska-sdp-func/CMakeLists.txt
  src/ska-sdp-func/station_beam/CMakeLists.txt
  src/ska-sdp-func/station_beam/sdp_station.cpp
  src/ska-sdp-func/station_beam/sdp_station.cu
  src/ska-sdp-func/station_beam/sdp_station.h
  src/ska-sdp-func/utility/sdp_mem.c
  src/ska_sdp_func/station_beam/__init__.py
  src/ska_sdp_func/station_beam/station.py
  src/ska_sdp_func/utility/mem.py
  tests/station_beam/test_station_beam.py
Owners: @KarelAdamek, @vlad7235, @fdulwich

HIP-593: Run formatters to fix linting.
  src/ska-sdp-func/station_beam/sdp_station.cpp
  src/ska-sdp-func/station_beam/sdp_station.cu
  tests/station_beam/test_station_beam.py
Owners: @KarelAdamek, @vlad7235, @fdulwich

HIP-593: Run black to fix linting.
  tests/station_beam/test_station_beam.py
Owners: @KarelAdamek, @vlad7235, @fdulwich

HIP-593: Update CUDA images in CI pipeline.
  .gitlab-ci.yml
Owners: @KarelAdamek, @vlad7235, @fdulwich

HIP-595, transit score mechanism added
  minitest.py
  ms_operations.py
  src/ska-sdp-func/twosm_rfi_flagger/sdp_twosm_rfi_flagger.cpp
Owners: @KarelAdamek, @vlad7235, @fdulwich

Update .gitlab-ci.yml file with new docker file
  .gitlab-ci.yml
Owners: @KarelAdamek, @vlad7235, @fdulwich

HIP-593: Build GPU code also for A100 in CI pipeline.
  .gitlab-ci.yml
Owners: @KarelAdamek, @vlad7235, @fdulwich

Update from HIP-593 branch
  .gitlab-ci.yml
Owners: @KarelAdamek, @vlad7235, @fdulwich

HIP-595, knee point detection and windowing added
  src/ska-sdp-func/twosm_rfi_flagger/sdp_twosm_rfi_flagger.cpp
Owners: @KarelAdamek, @vlad7235, @fdulwich

HIP-595, non parametric threshold computation improved
  src/ska-sdp-func/twosm_rfi_flagger/sdp_twosm_rfi_flagger.cpp
Owners: @KarelAdamek, @vlad7235, @fdulwich

HIP-593: Address review comments.
  src/ska-sdp-func/station_beam/sdp_station.cpp
  src/ska-sdp-func/station_beam/sdp_station.h
  src/ska_sdp_func/station_beam/__init__.py
  src/ska_sdp_func/station_beam/station.py
  tests/station_beam/test_station_beam.py
Owners: @KarelAdamek, @vlad7235, @fdulwich

HIP-610: Add function to evaluate dipole pattern.
  src/ska-sdp-func/station_beam/CMakeLists.txt
  src/ska-sdp-func/station_beam/sdp_element_dipole.cpp
  src/ska-sdp-func/station_beam/sdp_element_dipole.h
  src/ska-sdp-func/utility/sdp_mem.c
  src/ska-sdp-func/utility/sdp_mem.h
  src/ska_sdp_func/station_beam/__init__.py
  src/ska_sdp_func/station_beam/element.py
  tests/station_beam/test_element_beam.py
Owners: @KarelAdamek, @vlad7235, @fdulwich

HIP-610: Address formatting issues.
  src/ska-sdp-func/station_beam/sdp_element_dipole.cpp
  src/ska-sdp-func/utility/sdp_mem.c
Owners: @KarelAdamek, @vlad7235, @fdulwich

HIP-607: Hogbom GPU code updated to add support for blfoat16 conversion
  src/ska-sdp-func/clean/sdp_hogbom_clean.cpp
  src/ska-sdp-func/clean/sdp_hogbom_clean.cu
  src/ska-sdp-func/clean/sdp_hogbom_clean.h
  src/ska_sdp_func/clean/hogbom_clean.py
  tests/clean/test_hogbom_clean.cpp
  tests/clean/test_hogbom_clean.py
  tests/numeric_functions/test_fft_convolution.py
Owners: @KarelAdamek, @vlad7235, @fdulwich

HIP-608, refactoring to iterate over all baselines and polarisations
  src/ska-sdp-func/twosm_rfi_flagger/sdp_twosm_rfi_flagger.cpp
  src/ska-sdp-func/twosm_rfi_flagger/sdp_twosm_rfi_flagger.h
  src/ska_sdp_func/twosm_rfi_flagger.py
Owners: @KarelAdamek, @vlad7235, @fdulwich

HIP-615: Scalar version of the station based predict
  Testing/Temporary/CTestCostData.txt
  Testing/Temporary/LastTest.log
  src/ska-sdp-func/visibility/CMakeLists.txt
  src/ska-sdp-func/visibility/sdp_station_based_predict.cpp
  src/ska-sdp-func/visibility/sdp_station_based_predict.h
  src/ska-sdp-func/visibility/sdp_weighting.cpp
Owners: @KarelAdamek, @vlad7235, @fdulwich

A file was deleted
  src/ska-sdp-func/rfi/sdp_twosm_rfi_flagger.cpp
  src/ska-sdp-func/rfi/sdp_twosm_rfi_flagger.h
Owners: @KarelAdamek, @vlad7235, @fdulwich

CMakeLists changed after deleting twosm
  src/ska-sdp-func/rfi/CMakeLists.txt
Owners: @KarelAdamek, @vlad7235, @fdulwich

A file was deleted
  tests/rfi/test_twosm_rfi_flagger.cpp
  tests/rfi/test_twosm_rfi_flagger.py
Owners: @KarelAdamek, @vlad7235, @fdulwich

A file was deleted
  src/ska_sdp_func/rfi/twosm_rfi_flagger.py
Owners: @KarelAdamek, @vlad7235, @fdulwich

init amended after deleting twosm
  src/ska_sdp_func/rfi/__init__.py
Owners: @KarelAdamek, @vlad7235, @fdulwich

HIP-608, flagger code moved to an updated branch from main
  src/ska-sdp-func/visibility/sdp_flagger.cpp
  src/ska-sdp-func/visibility/sdp_flagger.h
  src/ska_sdp_func/visibility/flagger.py
Owners: @KarelAdamek, @vlad7235, @fdulwich

HIP-608, python wrapper modified
  src/ska_sdp_func/visibility/flagger.py
Owners: @KarelAdamek, @vlad7235, @fdulwich

HIP-608, temporary files added to run experiments
  minitest.py
  ms_operations.py
Owners: @KarelAdamek, @vlad7235, @fdulwich

HIP-608, minor corrections
  src/ska-sdp-func/visibility/sdp_flagger.cpp
  src/ska_sdp_func/visibility/flagger.py
Owners: @KarelAdamek, @vlad7235, @fdulwich

HIP-608, code fully rearranged to separate dynamic and fixed thresholds
  minitest.py
  src/ska-sdp-func/visibility/sdp_flagger.cpp
  src/ska_sdp_func/visibility/flagger.py
Owners: @KarelAdamek, @vlad7235, @fdulwich

HIP-608, minor bugs fixed
  minitest.py
  src/ska-sdp-func/visibility/sdp_flagger.cpp
Owners: @KarelAdamek, @vlad7235, @fdulwich

CODEOWNERS:

* @KarelAdamek @vlad7235 @fdulwich

# gridder_uvw_es_fft
src/ska-sdp-func/grid_data/sdp_gridder_uvw_es_fft* @DoctaGnz
src/ska_sdp_func/grid_data/gridder_uvw_es_fft.py @DoctaGnz
tests/grid_data/test_gridder_uvw_es_fft.* @DoctaGnz
