Repository ska-telescope/ska-sdp-func, changes with the owners that CODEOWNERS names for each.
All owners: @KarelAdamek, @vlad7235, @fdulwich, @DoctaGnz

SP-2570 Add Python benchmarks
  .gitlab-ci.yml
  src/ska_sdp_func/fourier_transforms/swiftly.py
  tests/fourier_transforms/helpers.py
  tests/fourier_transforms/test_swiftly.py
  tests/fourier_transforms/test_swiftly_bench.py
Owners: @KarelAdamek, @vlad7235, @fdulwich

SP-2570: Specify C++11 standard, which is required by pocketfft.
  cmake/compiler_options.cmake
Owners: @KarelAdamek, @vlad7235, @fdulwich

HIP-704: Split out and simplified gridder kernels.
  src/ska-sdp-func/grid_data/sdp_gridder_uvw_es_fft.cpp
  src/ska-sdp-func/grid_data/sdp_gridder_uvw_es_fft_kernels.cu
Owners: @DoctaGnz

HIP-704: Further simplify 3D gridder kernels.
  src/ska-sdp-func/grid_data/sdp_gridder_uvw_es_fft_kernels.cu
Owners: @DoctaGnz

HIP-704: Cache grid kernels in v-direction.
  src/ska-sdp-func/grid_data/sdp_gridder_uvw_es_fft_kernels.cu
Owners: @DoctaGnz

HIP-704: Fix variable names.
  src/ska-sdp-func/grid_data/sdp_gridder_uvw_es_fft_kernels.cu
Owners: @DoctaGnz

HIP-704: Add global library support macros.
  src/ska-sdp-func/sdp_func_global.h
Owners: @KarelAdamek, @vlad7235, @fdulwich

HIP-704: Add timer utility functions.
  src/ska-sdp-func/utility/CMakeLists.txt
  src/ska-sdp-func/utility/sdp_timer.c
  src/ska-sdp-func/utility/sdp_timer.h
Owners: @KarelAdamek, @vlad7235, @fdulwich

HIP-704: Add timers and parameter reporting for gridding kernels.
  src/ska-sdp-func/grid_data/sdp_gridder_uvw_es_fft.cpp
  src/ska-sdp-func/grid_data/sdp_gridder_uvw_es_fft_kernels.cu
Owners: @DoctaGnz

HIP-704: Apply formatting for linter.
  src/ska-sdp-func/grid_data/sdp_gridder_uvw_es_fft.cpp
  src/ska-sdp-func/utility/sdp_timer.c
Owners: @DoctaGnz, @KarelAdamek, @vlad7235, @fdulwich

AST-1426 Add sdp_mem_reuse_wrapper
  src/ska-sdp-func/utility/sdp_mem.c
  src/ska-sdp-func/utility/sdp_mem.h
  src/ska_sdp_func/utility/mem.py
Owners: @KarelAdamek, @vlad7235, @fdulwich

AST-1426 Formatting
  src/ska-sdp-func/utility/sdp_mem.c
Owners: @KarelAdamek, @vlad7235, @fdulwich

HIP-560: Added msCLEAN, WSCLEAN version and tests
  src/ska-sdp-func/clean/CMakeLists.txt
  src/ska-sdp-func/clean/sdp_hogbom_clean.cpp
  src/ska-sdp-func/clean/sdp_hogbom_clean.cu
  src/ska-sdp-func/clean/sdp_ms_clean.cpp
  src/ska-sdp-func/clean/sdp_ms_clean_cornwell.cpp
  src/ska-sdp-func/clean/sdp_ms_clean_ws_clean.cpp
  src/ska-sdp-func/clean/sdp_ms_clean_ws_clean.h
  src/ska_sdp_func/clean/__init__.py
  src/ska_sdp_func/clean/ms_clean_ws_clean.py
  tests/clean/CMakeLists.txt
  tests/clean/test_hogbom_clean.py
  tests/clean/test_ms_clean_cornwell.cpp
  tests/clean/test_ms_clean_cornwell.py
  tests/clean/test_ms_clean_ws_clean.cpp
  tests/clean/test_ms_clean_ws_clean.py
  tests/numeric_functions/test_fft_convolution.cpp
  tests/numeric_functions/test_fft_convolution.py
Owners: @KarelAdamek, @vlad7235, @fdulwich

HIP-698: Tests for bucket sort
  src/ska-sdp-func/grid_data/sdp_tiling.cpp
  src/ska-sdp-func/grid_data/sdp_tiling.cu
  src/ska-sdp-func/grid_data/sdp_tiling.h
  src/ska_sdp_func/grid_data/tiling_and_bucket_sort.py
  tests/grid_data/test_bucket_sort.py
Owners: @KarelAdamek, @vlad7235, @fdulwich

HIP-702: Doc string fixes
  src/ska-sdp-func/grid_data/sdp_tiling.h
  src/ska_sdp_func/grid_data/tiling_and_bucket_sort.py
  tests/grid_data/test_bucket_sort.py
Owners: @KarelAdamek, @vlad7235, @fdulwich

HIP-702: Grid indexing fix
  src/ska-sdp-func/grid_data/sdp_tiling.cpp
  src/ska-sdp-func/grid_data/sdp_tiling.cu
Owners: @KarelAdamek, @vlad7235, @fdulwich

HIP-713, code update with modified zscore and broadband detection
  src/ska-sdp-func/visibility/sdp_flagger.cpp
Owners: @KarelAdamek, @vlad7235, @fdulwich

HIP-713, bugs fixed
  src/ska-sdp-func/visibility/sdp_flagger.cpp
Owners: @KarelAdamek, @vlad7235, @fdulwich

HIP-713, bugs fixed and broadband is working
  src/ska-sdp-func/visibility/sdp_flagger.cpp
Owners: @KarelAdamek, @vlad7235, @fdulwich

SP-2570 Add Makefile support for bumping versions in all places
  .make-support
  .release
  Makefile
Owners: @KarelAdamek, @vlad7235, @fdulwich

SP-2570 Make release 1.0.0
  CMakeLists.txt
  conan/ska-sdp-func/conanfile.py
  docs/src/conf.py
  pyproject.toml
  setup.py
Owners: @KarelAdamek, @vlad7235, @fdulwich

SP-2570 Fix SwiFTly accumulation functions
  src/ska-sdp-func/fourier_transforms/sdp_swiftly.cpp
  tests/fourier_transforms/test_swiftly.py
Owners: @KarelAdamek, @vlad7235, @fdulwich

SP-2570 Add some missing documentation
  src/ska-sdp-func/fourier_transforms/sdp_swiftly.h
Owners: @KarelAdamek, @vlad7235, @fdulwich

SP-2570 Bump version to 1.0.1
  .release
  CMakeLists.txt
  conan/ska-sdp-func/conanfile.py
  docs/src/conf.py
  pyproject.toml
  setup.py
Owners: @KarelAdamek, @vlad7235, @fdulwich

HIP-738: Correct bug when adding residuals in images larger than 1024*1024
  src/ska-sdp-func/clean/sdp_hogbom_clean.cu
Owners: @KarelAdamek, @vlad7235, @fdulwich

HIP-743: Add initial tiled gridder.
  src/ska-sdp-func/CMakeLists.txt
  src/ska-sdp-func/grid_data/sdp_gridder_uvw_es_fft.cpp
  src/ska-sdp-func/grid_data/sdp_gridder_uvw_es_fft_kernels.cu
  src/ska-sdp-func/math/CMakeLists.txt
  src/ska-sdp-func/math/sdp_prefix_sum.c
  src/ska-sdp-func/math/sdp_prefix_sum.cu
  src/ska-sdp-func/math/sdp_prefix_sum.h
Owners: @KarelAdamek, @vlad7235, @fdulwich, @DoctaGnz

HIP-714, update to the latest version
  src/ska_sdp_func/visibility/__init__.py
Owners: @KarelAdamek, @vlad7235, @fdulwich

HIP-743: Swap block dimensions.
  src/ska-sdp-func/grid_data/sdp_gridder_uvw_es_fft.cpp
  src/ska-sdp-func/grid_data/sdp_gridder_uvw_es_fft_kernels.cu
Owners: @DoctaGnz

HIP-743: Fix tiled w-gridder: swap u and v axes, and apply offsets correctly.
  src/ska-sdp-func/grid_data/sdp_gridder_uvw_es_fft.cpp
  src/ska-sdp-func/grid_data/sdp_gridder_uvw_es_fft_kernels.cu
Owners: @DoctaGnz

HIP-702-Fixed bucket sort
  src/ska-sdp-func/grid_data/sdp_tiling.cpp
  src/ska-sdp-func/grid_data/sdp_tiling.cu
  src/ska-sdp-func/grid_data/sdp_tiling.h
  src/ska-sdp-func/visibility/sdp_weighting.cpp
  src/ska-sdp-func/visibility/sdp_weighting.cu
  src/ska_sdp_func/grid_data/tiling_and_bucket_sort.py
  tests/grid_data/test_bucket_sort.py
Owners: @KarelAdamek, @vlad7235, @fdulwich

Delete test_spherical_wave_cpu.png
  test_spherical_wave_cpu.png
Owners: @KarelAdamek, @vlad7235, @fdulwich

Delete test_dipole_scalar_cpu.png
  test_dipole_scalar_cpu.png
Owners: @KarelAdamek, @vlad7235, @fdulwich

Delete test_dipole_cpu.png
  test_dipole_cpu.png
Owners: @KarelAdamek, @vlad7235, @fdulwich

Delete test_aperture_array_gpu.png
  test_aperture_array_gpu.png
Owners: @KarelAdamek, @vlad7235, @fdulwich

Delete test_aperture_array_cpu_pol.png
  test_aperture_array_cpu_pol.png
Owners: @KarelAdamek, @vlad7235, @fdulwich

Delete test_aperture_array_cpu.png
  test_aperture_array_cpu.png
Owners: @KarelAdamek, @vlad7235, @fdulwich

HIP-738: update hogbom clean to output residuals and clean components
  src/ska-sdp-func/clean/sdp_hogbom_clean.cpp
  src/ska-sdp-func/clean/sdp_hogbom_clean.cu
  src/ska-sdp-func/clean/sdp_hogbom_clean.h
  src/ska_sdp_func/clean/hogbom_clean.py
  tests/clean/test_hogbom_clean.cpp
  tests/clean/test_hogbom_clean.py
Owners: @KarelAdamek, @vlad7235, @fdulwich

HIP-757: Refactor bucket sort for better testing
  src/ska-sdp-func/grid_data/sdp_tiling.cpp
  src/ska-sdp-func/grid_data/sdp_tiling.h
  src/ska_sdp_func/grid_data/tiling_and_bucket_sort.py
  tests/grid_data/test_bucket_sort.py
Owners: @KarelAdamek, @vlad7235, @fdulwich

HIP-774: Use look-up table for convolution kernel.
  src/ska-sdp-func/grid_data/sdp_gridder_uvw_es_fft.cpp
  src/ska-sdp-func/grid_data/sdp_gridder_uvw_es_fft_kernels.cu
Owners: @DoctaGnz

HIP-788: Add prototype interface to allow for gridding with a sub-grid.
  src/ska-sdp-func/grid_data/CMakeLists.txt
  src/ska-sdp-func/grid_data/sdp_grid_uvw_es.cpp
  src/ska-sdp-func/grid_data/sdp_grid_uvw_es.h
  src/ska_sdp_func/grid_data/__init__.py
  src/ska_sdp_func/grid_data/grid_uvw_es.py
Owners: @KarelAdamek, @vlad7235, @fdulwich

CODEOWNERS:

* @KarelAdamek @vlad7235 @fdulwich

# gridder_uvw_es_fft
src/ska-sdp-func/grid_data/sdp_gridder_uvw_es_fft* @DoctaGnz
src/ska_sdp_func/grid_data/gridder_uvw_es_fft.py @DoctaGnz
tests/grid_data/test_gridder_uvw_es_fft.* @DoctaGnz
