Repository ska-telescope/ska-sdp-func, changes with the owners that CODEOWNERS names for each.
All owners: @KarelAdamek, @vlad7235, @fdulwich, @DoctaGnz

HIP-405: Fix formatting.
  src/ska-sdp-func/grid_data/sdp_degrid_uvw_custom.cpp
  src/ska-sdp-func/grid_data/sdp_degrid_uvw_custom.cu
  tests/grid_data/test_degrid_uvw_custom.cpp
Owners: @KarelAdamek, @vlad7235, @fdulwich

HIP-381: New sdp_Mem and data model check functions
  src/ska-sdp-func/utility/sdp_data_model_checks.c
  src/ska-sdp-func/utility/sdp_data_model_checks.h
  src/ska-sdp-func/utility/sdp_mem.c
  src/ska-sdp-func/utility/sdp_mem.h
  src/ska-sdp-func/visibility/sdp_weighting.cpp
Owners: @KarelAdamek, @vlad7235, @fdulwich

Modified MSMFS processing function interface to have Gaussian sources list output as sdp_mem. Note this builds but needs unit tests for testing it.
  src/ska-sdp-func/deconvolution_msmfs/Msmfsfunctionshost.cu
  src/ska-sdp-func/deconvolution_msmfs/Msmfsfunctionshost.h
  src/ska-sdp-func/deconvolution_msmfs/Msmfsprocessingfunctioninterface.cpp
  src/ska-sdp-func/deconvolution_msmfs/Msmfsprocessingfunctioninterface.h
  src/ska-sdp-func/deconvolution_msmfs/Msmfsprocessingfunctiontest.c
  src/ska-sdp-func/deconvolution_msmfs/Msmfsprocessingfunctiontest.h
  tests/test_deconvolution_msmfs.cpp
Owners: @KarelAdamek, @vlad7235, @fdulwich

HIP-381: add changes in dft
  src/ska-sdp-func/visibility/sdp_dft.cpp
Owners: @KarelAdamek, @vlad7235, @fdulwich

HIP-422: Use make python-build to add the SKA MANIFEST file to the Python wheels.
  .gitlab-ci.yml
  CMakeLists.txt
  conan/ska-sdp-func/conanfile.py
  pyproject.toml
  setup.py
Owners: @KarelAdamek, @vlad7235, @fdulwich

HIP-422: Add the missing semi-colons.
  .gitlab-ci.yml
  CMakeLists.txt
  conan/ska-sdp-func/conanfile.py
  pyproject.toml
  setup.py
Owners: @KarelAdamek, @vlad7235, @fdulwich

HIP-381: Revised check functions
  src/ska-sdp-func/utility/sdp_data_model_checks.c
  src/ska-sdp-func/utility/sdp_data_model_checks.h
  src/ska-sdp-func/utility/sdp_mem.c
  src/ska-sdp-func/utility/sdp_mem.h
  src/ska-sdp-func/visibility/sdp_dft.cpp
Owners: @KarelAdamek, @vlad7235, @fdulwich

HIP-416: Add automatic error checking, make CError importable in utility
  src/ska_sdp_func/utility/__init__.py
  src/ska_sdp_func/utility/error_checking.py
  src/ska_sdp_func/utility/lib.py
Owners: @KarelAdamek, @vlad7235, @fdulwich

HIP-416: New interface for wrapping and accessing C functions in Lib
  src/ska_sdp_func/utility/lib.py
Owners: @KarelAdamek, @vlad7235, @fdulwich

HIP-416: Roll out new wrapping syntax in phase_rotate.py
  src/ska_sdp_func/visibility/phase_rotate.py
Owners: @KarelAdamek, @vlad7235, @fdulwich

HIP-416: Test that CError is raised as expected by phase_rotate funcs Specifically when mixing CPU and GPU arrays as arguments
  tests/visibility/test_phase_rotate.py
Owners: @KarelAdamek, @vlad7235, @fdulwich

HIP-416: Use python 3.8-compatible type hints
  src/ska_sdp_func/utility/error_checking.py
  src/ska_sdp_func/utility/lib.py
Owners: @KarelAdamek, @vlad7235, @fdulwich

HIP-416: Finish separating wrapping code from runtime code in SkyCoord Apply Google style to SkyCoord docstrings
  src/ska_sdp_func/utility/sky_coord.py
Owners: @KarelAdamek, @vlad7235, @fdulwich

HIP-416: Make SkyCoord a subclass of StructWrapper
  src/ska_sdp_func/utility/sky_coord.py
  src/ska_sdp_func/visibility/phase_rotate.py
Owners: @KarelAdamek, @vlad7235, @fdulwich

HIP-416: Fft now subclasses StructWrapper
  src/ska_sdp_func/fourier_transforms/fft.py
Owners: @KarelAdamek, @vlad7235, @fdulwich

HIP-416: Roll out automatic error checking in phase_rotate.py
  src/ska_sdp_func/visibility/phase_rotate.py
Owners: @KarelAdamek, @vlad7235, @fdulwich

HIP-416: GridderUvwEsFft now subclasses StructWrapper
  src/ska_sdp_func/grid_data/gridder_uvw_es_fft.py
  tests/grid_data/test_gridder_uvw_es_fft.py
Owners: @DoctaGnz

HIP-416: Update docs
  docs/src/adding_new_functions.rst
Owners: @KarelAdamek, @vlad7235, @fdulwich

HIP-416: Mem now subclasses StructWrapper
  src/ska_sdp_func/examples/function_example_a.py
  src/ska_sdp_func/examples/vector.py
  src/ska_sdp_func/fourier_transforms/fft.py
  src/ska_sdp_func/grid_data/gridder_uvw_es_fft.py
  src/ska_sdp_func/rfi/rfi_flagger.py
  src/ska_sdp_func/rfi/twosm_rfi_flagger.py
  src/ska_sdp_func/utility/mem.py
  src/ska_sdp_func/visibility/dft.py
  src/ska_sdp_func/visibility/phase_rotate.py
  src/ska_sdp_func/visibility/weighting.py
Owners: @KarelAdamek, @vlad7235, @fdulwich, @DoctaGnz

HIP-416: Remove Error class
  src/ska_sdp_func/utility/__init__.py
  src/ska_sdp_func/utility/error.py
Owners: @KarelAdamek, @vlad7235, @fdulwich

HIP-416: FunctionExampleA now subclasses StructWrapper
  src/ska_sdp_func/examples/function_example_a.py
Owners: @KarelAdamek, @vlad7235, @fdulwich

HIP-416: Use new-style C func wrapping in all remaining Python modules
  src/ska_sdp_func/examples/vector.py
  src/ska_sdp_func/rfi/rfi_flagger.py
  src/ska_sdp_func/rfi/twosm_rfi_flagger.py
  src/ska_sdp_func/visibility/dft.py
  src/ska_sdp_func/visibility/weighting.py
Owners: @KarelAdamek, @vlad7235, @fdulwich

HIP-416: StructWrapper: base class for anything that wraps a C struct
  src/ska_sdp_func/utility/__init__.py
  src/ska_sdp_func/utility/struct_wrapper.py
Owners: @KarelAdamek, @vlad7235, @fdulwich

HIP-416: linting and formatting fixes
  src/ska_sdp_func/examples/function_example_a.py
  src/ska_sdp_func/examples/vector.py
  src/ska_sdp_func/fourier_transforms/fft.py
  src/ska_sdp_func/grid_data/gridder_uvw_es_fft.py
  src/ska_sdp_func/rfi/rfi_flagger.py
  src/ska_sdp_func/rfi/twosm_rfi_flagger.py
  src/ska_sdp_func/utility/__init__.py
  src/ska_sdp_func/utility/error_checking.py
  src/ska_sdp_func/utility/lib.py
  src/ska_sdp_func/utility/mem.py
  src/ska_sdp_func/utility/sky_coord.py
  src/ska_sdp_func/utility/struct_wrapper.py
  src/ska_sdp_func/visibility/dft.py
  src/ska_sdp_func/visibility/phase_rotate.py
  src/ska_sdp_func/visibility/weighting.py
  tests/visibility/test_phase_rotate.py
Owners: @KarelAdamek, @vlad7235, @fdulwich, @DoctaGnz

NZAPP-558: Add working Python interface to deconvolution_msmfs
  .gitignore
  src/ska_sdp_func/__init__.py
  src/ska_sdp_func/deconvolution_msmfs.py
  tests/test_deconvolution_msmfs.py
Owners: @KarelAdamek, @vlad7235, @fdulwich

HIP-423: Remove type hint incompatible with python 3.6
  src/ska_sdp_func/utility/struct_wrapper.py
Owners: @KarelAdamek, @vlad7235, @fdulwich

HIP-423: Remove obsolete exclude-members from docs
  docs/src/module_examples/function_example_a.rst
  docs/src/module_fourier_transforms/fft.rst
  docs/src/module_grid_data/gridder_uvw_es_fft.rst
  docs/src/sky_coord.rst
Owners: @KarelAdamek, @vlad7235, @fdulwich

HIP-423: Use weakref.finalize instead of __del__ in StructWrapper
  src/ska_sdp_func/utility/struct_wrapper.py
Owners: @KarelAdamek, @vlad7235, @fdulwich

HIP-421: Add sdp_Table as a way of wrapping an xarray Dataset.
  src/ska-sdp-func/examples/CMakeLists.txt
  src/ska-sdp-func/examples/sdp_function_example_table.cpp
  src/ska-sdp-func/examples/sdp_function_example_table.h
  src/ska-sdp-func/utility/CMakeLists.txt
  src/ska-sdp-func/utility/sdp_table.cpp
  src/ska-sdp-func/utility/sdp_table.h
  src/ska_sdp_func/utility/__init__.py
  src/ska_sdp_func/utility/mem.py
  src/ska_sdp_func/utility/table.py
  tests/utility/test_table.py
Owners: @KarelAdamek, @vlad7235, @fdulwich

HIP-421: Python formatting fixes by black.
  src/ska_sdp_func/utility/table.py
  tests/utility/test_table.py
Owners: @KarelAdamek, @vlad7235, @fdulwich

HIP-421: Fix pylint warning.
  src/ska_sdp_func/utility/table.py
Owners: @KarelAdamek, @vlad7235, @fdulwich

NZAPP-558: Add simple dirty image and PSF to test_deconvolution_msmfs.py
  src/ska_sdp_func/__init__.py
  src/ska_sdp_func/deconvolution_msmfs.py
  tests/test_deconvolution_msmfs.py
Owners: @KarelAdamek, @vlad7235, @fdulwich

HIP-381: Fixing pipeline
  src/ska-sdp-func/utility/sdp_data_model_checks.c
  src/ska-sdp-func/utility/sdp_data_model_checks.h
  src/ska-sdp-func/utility/sdp_logging.h
  src/ska-sdp-func/utility/sdp_mem.c
  src/ska-sdp-func/utility/sdp_mem.h
  src/ska-sdp-func/visibility/sdp_dft.cpp
  src/ska-sdp-func/visibility/sdp_dft.cu
  src/ska-sdp-func/visibility/sdp_phase_rotate.cpp
  src/ska-sdp-func/visibility/sdp_phase_rotate.cu
  src/ska-sdp-func/visibility/sdp_weighting.cpp
Owners: @KarelAdamek, @vlad7235, @fdulwich

HIP-381: Fixing uncrustify test
  src/ska-sdp-func/utility/sdp_data_model_checks.h
  src/ska-sdp-func/utility/sdp_logging.h
  src/ska-sdp-func/utility/sdp_mem.h
  src/ska-sdp-func/visibility/sdp_dft.cpp
  src/ska-sdp-func/visibility/sdp_dft.cu
  src/ska-sdp-func/visibility/sdp_phase_rotate.cpp
  src/ska-sdp-func/visibility/sdp_phase_rotate.cu
  src/ska-sdp-func/visibility/sdp_weighting.cpp
Owners: @KarelAdamek, @vlad7235, @fdulwich

HIP-381: Changed test for sdp_weighting
  src/ska-sdp-func/utility/sdp_data_model_checks.c
  src/ska-sdp-func/utility/sdp_data_model_checks.h
  src/ska-sdp-func/visibility/sdp_weighting.cpp
Owners: @KarelAdamek, @vlad7235, @fdulwich

NZAPP-558: Improve deconvolution_msmfs.py to return source details as a dictionary, and minimise required inputs.
  src/ska_sdp_func/deconvolution_msmfs.py
  tests/test_deconvolution_msmfs.py
Owners: @KarelAdamek, @vlad7235, @fdulwich

NZAPP-558: Improve deconvolution_msmfs.py to finally minimise required inputs, and add asserts to test_deconvolution_msmfs.py
  src/ska_sdp_func/deconvolution_msmfs.py
  tests/test_deconvolution_msmfs.py
Owners: @KarelAdamek, @vlad7235, @fdulwich

HIP-381: testing input data change
  src/ska-sdp-func/visibility/sdp_phase_rotate.cpp
Owners: @KarelAdamek, @vlad7235, @fdulwich

HIP-381: code formatting applied
  src/ska-sdp-func/visibility/sdp_phase_rotate.cpp
Owners: @KarelAdamek, @vlad7235, @fdulwich

HIP-381: check function description changed
  src/ska-sdp-func/utility/sdp_mem.c
  src/ska-sdp-func/utility/sdp_mem.h
Owners: @KarelAdamek, @vlad7235, @fdulwich

CODEOWNERS:

* @KarelAdamek @vlad7235 @fdulwich

# gridder_uvw_es_fft
src/ska-sdp-func/grid_data/sdp_gridder_uvw_es_fft* @DoctaGnz
src/ska_sdp_func/grid_data/gridder_uvw_es_fft.py @DoctaGnz
tests/grid_data/test_gridder_uvw_es_fft.* @DoctaGnz
