Repository ska-telescope/ska-sdp-func, changes with the owners that CODEOWNERS names for each.
All owners: @KarelAdamek, @vlad7235, @fdulwich, @DoctaGnz, @aensor

CODEOWNERS:

* @KarelAdamek @vlad7235 @fdulwich

# gridder_uvw_es_fft
src/ska-sdp-func/gridder_uvw_es_fft/ @DoctaGnz
src/ska_sdp_func/gridder_uvw_es_fft.py @DoctaGnz
tests/test_gridder_uvw_es_fft.cpp @DoctaGnz
tests/test_gridder_uvw_es_fft.py @DoctaGnz

# deconvolution_msmfs
src/ska-sdp-func/deconvolution_msmfs/ @aensor
src/ska_sdp_func/deconvolution_msmfs.py @DoctaGnz
tests/test_deconvolution_msmfs.cpp @aensor
tests/test_deconvolution_msmfs.py @DoctaGnz

tidied up CMakeLists comments
  src/ska-sdp-func/deconvolution_msmfs/sdp_deconvolution_msmfs_lib/CMakeLists.txt
  src/ska-sdp-func/deconvolution_msmfs/sdp_deconvolution_msmfs_lib_test/CMakeLists.txt
Owners: @aensor

NZAPP-528 - Improve deconvolution_msmfs.py
  src/ska_sdp_func/deconvolution_msmfs.py
Owners: @DoctaGnz

NZAPP-528 - Improve deconvolution_msmfs.py, increase max num of arguments in pylintrc
  pylintrc
  src/ska_sdp_func/deconvolution_msmfs.py
Owners: @KarelAdamek, @vlad7235, @fdulwich, @DoctaGnz

NZAPP-528 - Fix lint errors in deconvolution_msmfs.py
  src/ska_sdp_func/deconvolution_msmfs.py
Owners: @DoctaGnz

NZAPP-528 - Fix lint errors in deconvolution_msmfs.py
  src/ska_sdp_func/deconvolution_msmfs.py
Owners: @DoctaGnz

NZAPP-528 - Add Python documentation for deconvolution_msmfs
  docs/src/index.rst
  docs/src/proc_func_deconvolution_msmfs.rst
  src/ska-sdp-func/gridder_uvw_es_fft/sdp_gridder_uvw_es_fft.h
  src/ska_sdp_func/__init__.py
Owners: @KarelAdamek, @vlad7235, @fdulwich, @DoctaGnz

Tidied up parameter names
  src/ska-sdp-func/gain_calibration_svd/build/sdp_gain_calibration_svd_lib/CMakeFiles/sdp_gain_calibration_svd_lib.dir/cmake_device_link.o
  src/ska-sdp-func/gain_calibration_svd/build/sdp_gain_calibration_svd_lib/CMakeFiles/sdp_gain_calibration_svd_lib.dir/src/Gaincalfunctionsdevice.cu.o
  src/ska-sdp-func/gain_calibration_svd/build/sdp_gain_calibration_svd_lib/libsdp_gain_calibration_svd_lib.so
  src/ska-sdp-func/gain_calibration_svd/sdp_gain_calibration_svd_lib/include/Gaincalfunctionsdevice.h
  src/ska-sdp-func/gain_calibration_svd/sdp_gain_calibration_svd_lib/src/Gaincalfunctionsdevice.cu
Owners: @KarelAdamek, @vlad7235, @fdulwich

HIP-330: Added guide for CI/CD pipeline.
  docs/src/index.rst
  docs/src/passing_CICD_pipeline.rst
Owners: @KarelAdamek, @vlad7235, @fdulwich

HIP-330: Changes according to feedback, renamed file
  docs/src/how_to_pass_CICD_pipeline.rst
  docs/src/index.rst
Owners: @KarelAdamek, @vlad7235, @fdulwich

HIP-331: How to contribute guide
  docs/src/how_to_contribute_to_PFL.rst
  docs/src/index.rst
Owners: @KarelAdamek, @vlad7235, @fdulwich

HIP-330: Fix incorrect pip command
  docs/src/how_to_pass_CICD_pipeline.rst
Owners: @KarelAdamek, @vlad7235, @fdulwich

HIP-331: Changes to contribution guide based on feedback
  docs/src/how_to_contribute_to_PFL.rst
Owners: @KarelAdamek, @vlad7235, @fdulwich

HIP-331: Added code style guide
  docs/src/code_style_guidelines.rst
  docs/src/index.rst
Owners: @KarelAdamek, @vlad7235, @fdulwich
